<html>
<header>
    {{#userName}}
    Welcome {{userName}}!
    <form action="/modifyUser" method="post">
        <button type="submit">Modify Your Account</button>
    </form>
    {{/userName}}
</header>
<body>
{{^userName}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter Your User Name" name="userName">
    <input type="text" placeholder="Enter Your Password" name="password">
    <button type="submit">Login</button>
</form>
<form action="/?createUser=null" method="get">
    <button type="submit">New User</button>
</form>
{{/userName}}
{{#userName}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
{{/userName}}
{{#userView}}
{{.}}<br>
{{/userView}}
{{#previous}}
<form action="/" method="get">
    <input hidden name="userIndex" value="{{previous}}">
    <button type="submit">Previous</button>
</form>
{{/previous}}
{{#next}}
<form action="/" method="get">
    <input hidden name="userIndex" value="{{next}}">
    <button type="submit">Next</button>
</form>
{{/next}}
{{#newUser}}
<form action="/create-user" method="post">
    <input type="text" placeholder="Enter your new username" name="userName">
    <input type="text" placeholder="Enter your desired password" name="password">
    <button type="submit">Create</button>
</form>
{{/newUser}}
</body>
</body>
</html>